
:root{
    --page-height: 1000px;
    --page-width: 100%;

    --welcome-title-font-size: 120px;
    --weocome-subtitle-font-size: 60px;

    --nav-bar-width: 540px;
    --nav-bar-tile-width: calc(var(--nav-bar-width)/4);
    --nav-bar-tile-height: 45px;
    --nav-bar-height: var(--nav-bar-tile-height);
    --nav-bar-font-size: 19px;

    --profile-container-width: 400px;
    --profile-container-height: 500px;

    --shadow: 0 0 9px lightgrey;
    --default-border-rad: 20px;

    --profile-description-font-size: 20px;
    --body-description-font-size: 16px;
}

a {
    color: black;
}

* {
    box-sizing: content-box;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-flow: wrap;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
}

/* START Customizing the navbar*/
.navbar-container-fixed {
    
    position: fixed;
    top: 0px;
    background-color: white;
    width: 100%;
    height: var(--nav-bar-height);
    border-top: 2px solid lightpink;
    box-shadow: var(--shadow);
    display: flex;
    justify-content: center;
    
    z-index: 5;
}

.navbar {
    box-sizing: border-box;
    height: var(--nav-bar-height);
    width: var(--nav-bar-width);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    
    font-family: "OCR A Std", monospace;
    
}

.navbar a{
    text-decoration: none;
}

.navbar a:visited{
    color: black;
}

.navbar a:active{
    
    color: black;
}

.navbar-tile {
    box-sizing: border-box;
    width: var(--nav-bar-tile-width);
    height: var(--nav-bar-tile-height);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--nav-bar-font-size);
    border: 3px solid transparent;
    transition: background-color 0.35s ease-in-out 0ms,
                color 0.35s ease-in-out 0ms,
                border-top 0.15s ease-in-out 0ms;
}

.navbar-tile:hover {
    box-sizing: border-box;
    background-color: lightpink;
    color: white;
    border-top: 3px solid lightseagreen;
    
    
}


/*********************************************/

.page-single {
    border: 1px solid transparent;
    width: var(--page-width);
    height: var(--page-height);
    margin: 0;
   
}

.page-double {
    border: 1px solid transparent;
    width: var(--page-width);
    height: calc(var(--page-height) * 1.5);
    margin: 0;
}

#welcome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
}


.welcome-text-wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    

}

.welcome-title {
    
    font-family: "PlayWrite CU", monospace;
    line-height: 120%;
    font-size: var(--welcome-title-font-size);
}


.welcome-subtitle{
    
    font-family: "Exo 2", monospace;
    font-size: --weocome-subtitle-font-size;
    text-align: right;
    padding-top: 7px;
    opacity: 100%;
}

.profile-container {
    
    box-shadow: var(--shadow);
    
    width: var(--profile-container-width);
    height: var(--profile-container-height);
    border-radius: var(--default-border-rad);
  
}

.profile-text {
    padding: 13px 25px;
    font-family: "Exo 2", monospace;
    font-size: var(--profile-description-font-size);
    
}

.picture {
    border-radius: var(--default-border-rad);
    object-fit: cover;
    object-position: 0% 80%;
}

.profile-picture {
    position: relative;
    top: 0px;
    width: var(--profile-container-width);
    height: calc(var(--profile-container-height) * 0.7);
   
}

.background {
    position: absolute;
    top: calc(var(--page-height) + 117px);
    height: var(--page-height);
    width: 90%;
    left: 10%;
    background-color: lightpink;
    opacity: 0.5;
    z-index: 0;
}

.headline {

    position: relative;
    font-family: "Exo 2", monospace;
    font-weight: 800;
    font-size: 90px;
    text-transform: uppercase;
    left: 8%;
}

/* START About me */

#about-me > .headline {
    
    width: fit-content;
    height: fit-content;
  
    text-wrap: wrap;
    position: relative;
    top: calc(var(--nav-bar-height) + 10px) ;

}

#about-me > .background {
    top: calc(var(--nav-bar-height) + 100% + 66px);
    left: 10%;
    width: 90%;

} 

.flexbox-media-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    max-height: 500px;
    top: calc(var(--nav-bar-height));
    left: 5%;
    width: 95%;
    padding: 35px 0px;
}

.flexbox-media-text >.video-mask {
    width: 1080px;
    height: 500px;
    min-width: 300px;
    border-radius: var(--default-border-rad);
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

.video-mask > .video {
    object-fit: cover;
}

.flexbox-media-text > .text-mask {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Exo 2", monospace;
    font-size: var(--profile-description-font-size) ;
    
    width: 400px;
    
    max-height: 500px;
    text-wrap: wrap;
    background-color: white;
    padding:  13px 25px;
    border-radius: var(--default-border-rad);
}

.flexbox-media-text > .filler-horizontal {
    width: 150px;
}
.text-mask >.filler-vertical {
    height: 2px;
}

#about-me .flexbox-media-text:last-of-type .text-mask {
    height: fit-content;
}

#about-me .flexbox-media-text:last-of-type .img-mask {
   
    object-fit: cover;
    border-radius: var(--default-border-rad);
    overflow: hidden;
}

#about-me a {
    text-decoration: none;
}

#about-me a:active {
    color: black;
}

#about-me a:visited {
    color: black;
}
.text-highlight {
    transition: background-color 0.25s ease-in-out 0ms;
}

.text-highlight:hover {
    
    background-color: lightpink;
}

/* START Career */

#career {
    height: 1000px;
}

#career > .headline {
    top: calc(var(--nav-bar-height) + 10px) ;
}

.career-page-body-container {
    margin-top: calc(var(--nav-bar-height) - 20px);
    width: 100%;
    height: calc(100% - var(--nav-bar-height) * 3 - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.career-button-container {
   height: 10%;
   width: 100%;
   padding: 2px;

   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
  
}

.career-button {
    width: 250px;
    height: 25px;
    font-family: "OCR A Std", monospace;
    font-size: 20px;
    background-color: white;
    border: 1.5px solid transparent;
    transition: background-color 0.25s ease-in-out 0ms,
                color 0.25s ease-in-out 0ms,
                border-left 0.25s ease-in-out 0ms,
                border-right 0.25s ease-in-out 0ms;
}

.career-button:hover {
    color: white;
    background-color: lightpink;
    border-left: 1.5px solid lightseagreen;
    border-right: 1.5px solid lightseagreen;
}

.career-container {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    
}

.job-experience-container {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.job-experience-img-wrapper {
    
    height: 100%;
    width: 45%;
    border-radius: var(--default-border-rad);
    overflow: hidden;
}

#yachieLab-photo {
    height: 100%;
    width: 115%;
    object-fit: cover;
    object-position: 20% 0%;
}

.job-experience-description-wrapper {
    height: 100%;
    width: 27%;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.job-experience-description-body {
    font-family: "Exo 2", monospace;
    font-size: var(--profile-description-font-size);
    margin: 0;
}

.job-experience-description-body-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 6px;
}

.job-experience-date {
    font-family: "PlayWrite CU", monospace;
    margin: 30px 0;
    font-size: 20px;
}

#yachieLab-logo {
    margin-top: 10px;
    padding-left: 20px;
    transform: scale(1.5);
}

#bertramGroup-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#bertramGroup-logo {
    margin-top: 12px;
    font-family: sans-serif;
    font-weight: 550;
    letter-spacing: .2rem;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-flex;
    color: #002145;
}

/* START My projects */

#projects > .headline {
    width: fit-content;
    height: 200px;
  
    text-wrap: wrap;
    position: relative;
    top: calc(var(--nav-bar-height) + 10px) ;
}



.project-container {

    margin: auto;
    position: relative;
    width: 100%;
    height: 1200px;
    padding-top: 80px;
   
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: start;;
    justify-items: center;

}

.project-tile {
    margin-top: 5px;
    width: 300px;
    height: 350px;
    background-color: white;
    box-shadow: var(--shadow);
    border-radius: var(--default-border-rad);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    transition: height 0.25s ease-in-out 0ms,
                
                transform 0.25s ease-in-out 0ms;
}

.project-tile:hover {
    height: 545px;
    transform: translateY(-5px);
}

.project-img {
    overflow: hidden;
    min-height: 300px;
    max-height: 300px;
    min-width: 300px;
    border-radius: var(--default-border-rad);
}

.project-description {
    padding: 10px 20px 10px 20px;
}

.project-description-title {
    margin: 0;
    font-family: "PlayWrite CU", monospace;
    
}

.project-description-body {
    margin: 0;
    padding-top: 5px;
    font-family: "Exo 2", monospace;
    font-size: var(--body-description-font-size);
}

.coming-soon {
    content: "Coming Soon";
    font-family: "PlayWrite CU", monospace;
    align-items: center;
    justify-content: center;
    color: black;
}

.coming-soon:hover {
    transform: shiftY(0);
}


.hoverable-scale {
    transition: transform 0.25s ease-in-out 0ms;
}

.hoverable-scale:hover {
    transform: scale(1.01);
}

/* START footer */

footer {
    background-color: lightpink;
    height: 200px;
    width: 100%;
    border-bottom: 3px lightseagreen solid;
    box-shadow: var(--shadow);

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.credits-container {
    margin-bottom: 18px;
    color: white;
    font-size: 18px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.end-of-page-container {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.end-of-page-container > .navbar{
    width: 100px;
    flex-direction: column;
    justify-content: flex-start;
    height: fit-content;
    gap: 8px;
}

.navbar-tile-footer {
    width: 100px;
    height: fit-content;
    color: white;
    border: 2px solid transparent;
    transition: background-color 0.35s ease-in-out 0ms,
                color 0.35s ease-in-out 0ms,
                border-top 0.35s ease-in-out 0ms;
}

.navbar-tile-footer:hover {
    background-color: white;
    color: black;
    border-top: 2px solid lightseagreen;
}

.logo-container {
    width: calc(60px * 4);
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo-link {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

#logo-github {
    transform: scale(0.75)
                translateX(5px);
}

/* START Media tags */

@media only screen and (max-width: 1150px) {
    :root {

        --welcome-title-font-size: 100px;
        --weocome-subtitle-font-size: 40px;

        --profile-container-width: 300px;
        --profile-container-height: 400px;

        --profile-description-font-size: 18px;
    }

    .project-tile:hover {
        height: 515px;
        transform: translateY(-3px);
    }


    .job-experience-container {
        width: 100%;
        height: 100%;
        flex-direction: row;
    }

    .job-experience-img-wrapper {
        width: 60%;
        height: 100%;
    }

    .job-experience-description-body-wrapper {
        
        grid-template-columns: 95%;
        grid-template-rows: 1fr 1fr;
        row-gap: 20%;
        overflow: visisble;
        
    }

    #bertram-group-photo {
        object-position: 50% 50%;
    }
}

@media only screen and (max-width: 1015px) {
    :root {
        --welcome-title-font-size: 60px;
        --weocome-subtitle-font-size: 20px;
        --profile-description-font-size: 16px;
    }

    .project-tile:hover {
        height: 515px;
        transform: translateY(-3px);
    }

}

@media only screen and (max-width: 600px) {
    :root {
        --nav-bar-font-size: 15px;
        --body-description-font-size: 15px;
    }
    html {
        width: 500px;
    }

    #welcome {
        flex-direction: column;
        gap: 10%;
    }

    .flexbox-media-text {
        flex-direction: column;
    }

    .flexbox-media-text > .filler-vertical {
        height: 200px;
    }

    .flexbox-media-text > .video-mask {
        width: 450px;
      
    }

    .flexbox-media-text > .video-mask > video {
        object-fit: cover;
        object-position: 20% 20%;
    }
    #projects {
        height: calc(var(--page-height) * 2.3);
    }

    .project-container {
        grid-template-rows: repeat(5, 5fr);
        grid-template-columns: 1fr;
    }

    .project-tile:hover {
        height: 515px;
        transform: translateY(-3px);
    }
}


/*********************************************/